.contenedor
{
    display:grid;
    position: static;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;
    align-content: space-around;
    width: 70%;
    height: 90%;
     margin: auto;
     box-sizing: border-box;
     justify-content: center;
    
    
}

.imagen1{
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: stretch;
    
}
.platillo1{
    grid-column-start: 2;
    grid-row-start: 1;
    display:grid;
    grid-template-rows: 50%;
    justify-self: stretch;
    background-color: white;
    height: 140px;
    margin: 0;
    border: black solid;
}
.imagen2{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: stretch;
}
.platillo2{
    grid-column-start: 4;
    grid-row-start: 1;
    display:grid;
    grid-template-rows: 50%;
    justify-self: stretch;
    background-color: white;
    height: 140px;
    margin: 0;
    border: black solid;
}
.imagen3{
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: stretch;
}
.platillo3{
    grid-column-start: 2;
    grid-row-start: 2;
    display:grid;
    grid-template-rows: 50%;
    justify-self: stretch;
    background-color: white;
    height: 140px;
    margin: 0;
    border: black solid;
}
.imagen4{
    grid-column-start: 3;
    grid-row-start: 2;
}
.platillo4{
    grid-column-start: 4;
    grid-row-start: 2;
    display:grid;
    grid-template-rows: 50% 50%;
    justify-self: stretch;
    background-color: white;
    height: 140px;
    margin: 0;
    border: black solid;
}
.imagen5{
    grid-column-start: 1;
    grid-row-start: 3;
}
.platillo5{
    grid-column-start: 2;
    grid-row-start: 3;
    display:grid;
    grid-template-rows: 50%;
    background-color: white;
    height: 140px;
    margin: 0;
    border: black solid;
}
.imagen6{
    grid-column-start: 3;
    grid-row-start: 3;
}
.platillo6{
    grid-column-start: 4;
    grid-row-start: 3;
    display:grid;
    grid-template-rows: 50%;
    justify-self: stretch;
    background-color: white;
    height: 140px;
    margin: 0;
    border: black solid;
}
.nombredelplatillo{
    grid-row-start: 1;
}
.descripcion{
    grid-row-start: 2;
    justify-content: space-around;
}
img{
    width: 100%;
    height: auto;
  }

.logo{
    margin-right: auto;
}
.banner{
    position: relative;
    display: flex;
    background-color: grey;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-acuarela-abstracta-verde-pastel_65186-711.jpg");
    width: 800px; 
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;   
    box-sizing: border-box;
    
    
    
}
body{
    background-color: #ffdd90;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqQqo2FzeeqoTlw1vpP5-u5EDonT1to_2HLg&usqp=CAU");
}
.menu
{
    position: relative;
    margin-left: auto;
    display:flex;
    flex-direction:Row;
    align-items:flex-end;
    box-sizing: border-box;
    right: 0;   
}


